html,body{
    overflow-x: hidden;
    width: 100%;
    background-color: black;
}

img{
    width: 300px;
    height: 300px;
    float: left;
}

.header{
    margin: 10px 10px 10px 10px;
    background-color: dimgrey;
}

.container{
    display: block;
    margin: 10px 10px 10px 10px;
}

.main{
width: 900px;
background-color: dimgrey;
padding: 0 10px 10px 0;
}

.sidebar{
width: 300px;
float: right;
background-color: dimgrey;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.footer{
    margin: 10px 10px 10px 10px;
    background-color: dimgrey;
}