html,body{
    overflow-x: hidden;
    width: 100%;
}

img{
    width: 300px;
    height: 300px;
    float: left;
}

.header{
    margin: 10px 10px 10px 10px;
}

.container{
    display: block;
    margin: 10px 10px 10px 10px;
}

.main{
width: 700px;
background-color: aqua;
padding: 0 10px 10px 0;
}

.sidebar{
width: 280px;
float: right;
background-color: blueviolet;
}

.footer{
    margin: 10px 10px 10px 10px;
}